body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea{
  background-color:whitesmoke;
  resize: vertical;
}

#editor{
  width: 600px;
  height: 100px
}

#preview {
  width: 800px;
  height: 700px;
}
